<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>lat</th>
      <th>lng</th>
    </tr>
  </thead>
  <tbody>

  {{#each locations}}
    {{view Embertutorial.LocationView locationBinding="this"}}
  {{/each}}
  </tbody>
</table>

